---
import TickIcon from "@/svg/TickIcon.astro";

import type { Experience } from "@/shared/model";
import { formatDateAsMonthYear } from "@/lib/utils";

type Props = { data: Experience };
const { data } = Astro.props;
---

<li>
  <div class="timeline-middle">
    <TickIcon />
  </div>
  <div class="timeline-end mb-10">
    <!-- date -->
    <div class="mt-[2px] font-mono italic">
      <time datetime={data.startDate}>
        {formatDateAsMonthYear(data.startDate)}
      </time> -
      <time datetime={data.endDate}>
        {formatDateAsMonthYear(data.endDate)}
      </time>
    </div>
    <div class="max-w-2xl space-y-4 text-start">
      <div class="text-lg font-medium">
        {data.role} - {data.company}
      </div>
      <ul>
        {data.description.map((item) => <li>- {item}</li>)}
      </ul>
      <div class="space-x-2">
        {
          data.skills.map((item) => (
            <span class="badge badge-ghost">{item}</span>
          ))
        }
      </div>
    </div>
  </div>
  <hr />
</li>
