---
import { Experience } from "@/shared/model";
import { formatDate } from "@/lib/utils";

type Props = { data: Experience };
const { data } = Astro.props;
---

<div class="">
  <!-- date -->
  <div class="">
    <time datetime={data.startDate}>
      {formatDate(data.startDate)}
    </time> -
    <time datetime={data.endDate}>
      {formatDate(data.endDate)}
    </time>
  </div>
  <!-- content -->
  <div class="">
    <div class="">
      <h3>{data.role}</h3> &nbsp; - &nbsp; <h3>{data.company}</h3>
    </div>
    <ul class="">
      {data.description.map((item) => <li>{item}</li>)}
    </ul>
    <ul class="">
      {data.skills.map((item) => <li class="">{item}</li>)}
    </ul>
  </div>
</div>
