---
import TickIcon from "@/svg/TickIcon.astro";

import { Experience } from "@/shared/model";
import { formatDate } from "@/lib/utils";

type Props = { data: Experience };
const { data } = Astro.props;
---

<li>
  <div class="timeline-middle">
    <TickIcon />
  </div>
  <div class="timeline-end mb-10">
    <!-- date -->
    <div>
      <time class="font-mono italic" datetime={data.startDate}>
        {formatDate(data.startDate)}
      </time> -
      <time class="font-mono italic" datetime={data.endDate}>
        {formatDate(data.endDate)}
      </time>
    </div>
    <div class="max-w-2xl space-y-4 text-start">
      <div class="text-lg font-black">
        {data.role} - {data.company}
      </div>
      <ul>
        {data.description.map((item) => <li>- {item}</li>)}
      </ul>
      <div class="space-x-2">
        {
          data.skills.map((item) => (
            <span class="badge badge-ghost">{item}</span>
          ))
        }
      </div>
    </div>
  </div>
  <hr />
</li>
