---
import { Experience } from "@/shared/model";
import { formatDate } from "@/lib/utils";

type Props = { data: Experience };
const { data } = Astro.props;
---

<div class="flex gap-10 py-5">
  <!-- date -->
  <div class="w-48 text-xl">
    <time datetime={data.startDate}>
      {formatDate(data.startDate)}
    </time> -
    <time datetime={data.endDate}>
      {formatDate(data.endDate)}
    </time>
  </div>
  <!-- content -->
  <div class="max-w-xl space-y-4">
    <div class="flex text-2xl font-semibold">
      <h3>{data.role}</h3> &nbsp; - &nbsp; <h3>{data.company}</h3>
    </div>
    <ul class="text-lg list-inside list-disc">
      {data.description.map((item) => <li>{item}</li>)}
    </ul>
    <ul class="flex gap-2">
      {
        data.skills.map((item) => (
          <li class="bg-main rounded-3xl px-3 py-1">{item}</li>
        ))
      }
    </ul>
  </div>
</div>
