---
import TickIcon from "@/svg/TickIcon.astro";

import { Project } from "@/shared/model";
import { formatDate, cn } from "@/lib/utils";

type Props = { data: Project; index: number };
const { data, index } = Astro.props;
const isOdd = index % 2 !== 0;
---

<li>
  <div class="timeline-middle">
    <TickIcon />
  </div>
  <div
    class={cn(
      "mb-10",
      { "timeline-end ": isOdd },
      { "timeline-start md:text-end": !isOdd }
    )}
  >
    <!-- date -->
    <div class="mb-2">
      <time class="font-mono italic" datetime={data.startDate}>
        {formatDate(data.startDate)}
      </time> -
      <time class="font-mono italic" datetime={data.endDate}>
        {formatDate(data.endDate)}
      </time>
    </div>
    <div class="card mx-auto max-w-sm bg-base-100 shadow-xl">
      <figure class="border">
        <img src={data.image} alt="Shoes" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">
          {data.name}
        </h2>
        <ul class="mb-2 space-y-1 text-start">
          {data.description.map((item) => <li>- {item}</li>)}
        </ul>
        <ul class="card-actions justify-end">
          {data.skills.map((item) => <li class="badge badge-ghost">{item}</li>)}
        </ul>
      </div>
    </div>
  </div>
  <hr />
</li>
