---
import { Project } from "@/shared/model";
import { formatDate, cn } from "@/lib/utils";

type Props = { data: Project; index: number };
const { data, index } = Astro.props;
const isOdd = index % 2 !== 0;
---

<li>
  <div class="timeline-middle">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      fill="currentColor"
      class="h-5 w-5"
    >
      <path
        fill-rule="evenodd"
        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
        clip-rule="evenodd"></path>
    </svg>
  </div>
  <div
    class={cn(
      "mb-10",
      { "timeline-end ": isOdd },
      { "timeline-start md:text-end": !isOdd }
    )}
  >
    <!-- date -->
    <div class="mb-2">
      <time class="font-mono italic" datetime={data.startDate}>
        {formatDate(data.startDate)}
      </time> -
      <time class="font-mono italic" datetime={data.endDate}>
        {formatDate(data.endDate)}
      </time>
    </div>
    <div class="card mx-auto max-w-sm bg-base-100 shadow-xl">
      <figure class="border">
        <img src={data.image} alt="Shoes" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">
          {data.name}
        </h2>
        <ul class="mb-2 space-y-1 text-start">
          {data.description.map((item) => <li>- {item}</li>)}
        </ul>
        <ul class="card-actions justify-end">
          {data.skills.map((item) => <li class="badge badge-ghost">{item}</li>)}
        </ul>
      </div>
    </div>
  </div>
  <hr />
</li>
