---
import TickIcon from "@/svg/TickIcon.astro";

import { formatDateAsMonthYear, cn } from "@/lib/utils";
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
  data: CollectionEntry<"projects">["data"];
  index: number;
}
const { data, index } = Astro.props;
const isOdd = index % 2 !== 0;
---

<li>
  <div class="timeline-middle">
    <TickIcon />
  </div>
  <div
    class={cn("pb-10", { "timeline-end": isOdd }, { "timeline-start": !isOdd })}
  >
    <!-- date -->
    <div
      class={cn("mb-2 mt-[2px] font-mono italic", { "md:text-end": !isOdd })}
    >
      <time datetime={data.startDate}>
        {formatDateAsMonthYear(data.startDate)}
      </time> -
      <time datetime={data.endDate}>
        {formatDateAsMonthYear(data.endDate)}
      </time>
    </div>
    <div class="card card-compact mx-auto max-w-sm bg-base-100 shadow-xl">
      <figure class="border-b">
        <Image src={data.image.url} alt={data.image.alt} />
      </figure>
      <div class="card-body">
        <h2 class="text-lg font-medium">
          {data.name}
        </h2>
        <ul class="mb-2 space-y-1 text-start text-base">
          {data.description.map((item) => <li>- {item}</li>)}
        </ul>
        <ul class="card-actions justify-end">
          {data.skills.map((item) => <li class="badge badge-ghost">{item}</li>)}
        </ul>
      </div>
    </div>
  </div>
  <hr />
</li>
