---
import BaseHead from "@/astro-components/BaseHead.astro";
import Header from "@/astro-components/Header.astro";
import Footer from "@/astro-components/Footer.astro";
import type { CollectionEntry } from "astro:content";
import { formatDateAsDayMonthYear } from "@/lib/utils";

interface Props {
  frontmatter: CollectionEntry<"blogs">["data"];
}

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={frontmatter.title} description={frontmatter.description} />
  </head>
  <body>
    <Header />
    <main>
      <article>
        <h1 class="title">{frontmatter.title}</h1>
        {
          (
            <time datetime={frontmatter.pubDate.toISOString()}>
              {formatDateAsDayMonthYear(frontmatter.pubDate)}
            </time>
          )
        }
        {
          frontmatter.cover && (
            <img src={frontmatter.cover.url} alt={frontmatter.cover.alt} />
          )
        }
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
