---
import BaseHead from "@/astro-components/BaseHead.astro";
import Header from "@/astro-components/Header.astro";
import Footer from "@/astro-components/Footer.astro";
import type { CollectionEntry } from "astro:content";
import { formatDateAsDayMonthYear } from "@/lib/utils";
import { Image } from "astro:assets";

interface Props {
  frontmatter: CollectionEntry<"blogs">["data"];
}

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={frontmatter.title}
      description={frontmatter.description}
      image={frontmatter.cover.url.src}
    />
  </head>
  <body>
    <Header />
    <main class="container max-w-2xl">
      <section>
        <h1 class="text-2xl md:text-3xl font-medium">{frontmatter.title}</h1>
        {
          (
            <time datetime={frontmatter.pubDate.toISOString()}>
              {formatDateAsDayMonthYear(frontmatter.pubDate)}
            </time>
          )
        }
        {
          frontmatter.updateDate && (
            <time datetime={frontmatter.updateDate.toISOString()}>
              {formatDateAsDayMonthYear(frontmatter.updateDate)}
            </time>
          )
        }
        {
          frontmatter.cover && (
            // @ts-ignore
            <Image src={frontmatter.cover.url} alt={frontmatter.cover.alt} />
          )
        }
      </section>
      <article>
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
